$font-headings: 'Abril Fatface', cursive;
$font-body: 'Assistant', sans-serif;
$colour-highlight: #86EE57;
$colour-main: #6CBFF5;
$colour-background: #FCF7F1;
$colour-headings: #217EA6;
$colour-dark-background: #28231c;

*{
  box-sizing: border-box;
}
@keyframes headerrotate {
  0% {
    background: url("images/header.jpeg");
  }
  50% {
    background: url("images/lakeEyre.png");
  }
  100% {
    background: url("images/header.jpeg");
  }
}
a {
  text-decoration: none;
  transition: 0.3s;
  color: $colour-main;
}
a:hover{
  font-style: italic;
  color: $colour-highlight;
}
header {
  font-family: $font-headings;
  color: $colour-main;
}
body {
  font-family: $font-body;
  font-size: 14px;
  background-color: $colour-background;
  }
.headerimg{
  width: 100%;
  background: url("images/header.jpeg");
  background-size: cover;
  height: 240px;
  padding: 10px;
  animation: headerrotate 20s infinite;
  display: flex;
}
.navlink{
  font-size: 1.3rem;
  background-color: $colour-dark-background;
  height: 45px;
  padding: 10px;
  margin-left: 7px;
  border-radius: 4px;
}
.headertitle{
  font-size: 2rem;
}
.headertagline{
  font-size: 1.3rem;
}
.headertext{
  background-color: $colour-dark-background;
  width: 250px;
  height: 95px;
  padding: 12px;
  border-radius: 4px;
}
.maincontent{
  display: flex;
  justify-content: center;
}
.maxcontent{
  width: 1100px;
  display: flex;
  justify-content: center;
}
.welcome {
  font-family: $font-headings;
  font-size: 2rem;
  color: $colour-headings;
  text-align: center;
}
.homepics{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.squarepic{
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 8px 3px 3px grey;
}
.codeBlogImage{
  width: 500px;
}
.galleryboxes{
  display: flex;
  justify-content: center;
}
.welcomecontent {
  padding: 10px;
  display: inline-block;
  margin: 20px;
}
.welcomebox {
  width: 700px;
  justify-content: center;
  text-align: center;
}
p::first-letter {
  font-size: 2.8rem;
  color: $colour-headings;
  font-family: $font-headings;
}
p.noBigFirstLetter::first-letter {
  font-size: 1.2rem;
  color: #000;
  font-family: $font-body;
}
.socials{
  font-size: 4em;
  text-align: center;
  padding-bottom: 30px;
}
.blogbox{
  width: 900px;
  padding: 10px 30px 30px;
  margin: 30px;
}
#blogheader{
  font-family: $font-headings;
  font-size: 2.8rem;
  color: $colour-headings;
  text-align: center;
}
.blogcontent{
  font-size: 1.1rem;
}
.bigSquarePic{
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 8px 3px 3px grey;
}
h1{
  transition: 1s;
  font-weight: normal;
}
h2{
text-align: center;
}
h3{
  margin: 0;
  font-weight: normal;
}
p{
  font-size: 1.2rem;
}
Footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 30px;
}
.footertext{
  width: 900px;
  color: darkgray;
}
.clickable{
  cursor: pointer;
}
#popUpWrapper{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
#imagePopUp{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 550px;
  background-color: $colour-background;
  position: relative;
}
#popUpImage{
  height: 500px;
}
#popUpClose{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
}
.tile {
  width: 80px;
  height: 80px;
}
.row {
  display: flex;
}
.tile_type_Aa {
  background-image: url(images/Aa.jpg);
  background-size: 80px 80px;
}
.tile_type_Ab {
  background-image: url(images/Ab.jpg);
  background-size: 80px 80px;
}
.tile_type_Ac {
  background-image: url(images/Ac.jpg);
  background-size: 80px 80px;
}
.tile_type_Ba {
  background-image: url(images/Ba.jpg);
  background-size: 80px 80px;
}
.tile_type_Bb {
  background-image: url(images/Bb.jpg);
  background-size: 80px 80px;
}
.tile_type_Bc {
  background-image: url(images/Bc.jpg);
  background-size: 80px 80px;
}
.tile_type_Ca {
  background-image: url(images/Ca.jpg);
  background-size: 80px 80px;
}
.tile_type_Cb {
  background-image: url(images/Cb.jpg);
  background-size: 80px 80px;
}
.tile_type_Cc {
  background-image: url(images/Cc.jpg);
  background-size: 80px 80px;
}
.tile_type_Da {
  background-image: url(images/Da.jpg);
  background-size: 80px 80px;
}
.tile_type_Db {
  background-image: url(images/Db.jpg);
  background-size: 80px 80px;
}
.tile_type_Dc {
  background-image: url(images/Dc.jpg);
  background-size: 80px 80px;
}
